body {
    font-family: 'Montserrat', sans-serif;
    min-width: 20rem;
    color: #1d1d1d;
}

img {
    max-width: 100%;
    max-height: auto;
}

section {
    padding: 6.25rem 0;
}

h3 {
    font-style: italic;
    font-size: 2.6rem;
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}

h4 {
    font-weight: 600;
    font-size: 2.75rem;
    margin-bottom: 2rem;
}

/* =============================header============================== */
.main-header {
    background: url(../img/main.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 43.75rem;
    position: relative;
}

.main-header .navbar-toggler {
    color: #fff;
}

.main-header .navbar-brand,
.main-header ul li a {
    color: #fff;
    font-weight: 600;
}

.main-header .navbar-brand {
    font-size: 2.5rem;
}

.main-header ul li a {
    font-size: 1rem;
}

.main-header ul li a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #fff;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}

.main-header ul li a:hover::after {
    transform: scale(1);
}

.main-header-text {
    position: absolute;
    top: 25%;
    left: 5%;
    max-width: 37.5rem;
    color: #fff;
    padding: 1.25rem;
}

.main-header-buttons {
    padding-left: 1.9rem;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.main-header-buttons .btn {
    height: 3.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-right: 1.25rem;
    margin-top: 1.9rem;
    opacity: .8;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .35);
    transition: all .5s;
}

.main-header-buttons .btn:hover {
    color: #fff;
    opacity: 1;
}

.btn-pink {
    background-color: #f42267;
}

.btn-violet {
    background-color: #69328e;
}


/* =============================.section-watch============================== */
.section-watch {
    background: url(../img/world_map.png) center no-repeat;
    background-size: cover;
}

.section-watch h3,
.section-watch h4 {
    color: #484848;
}

.section-watch .nav-pills {
    margin-bottom: 1.25rem;
}

.section-watch .nav-pills .nav-link {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: .87rem 1.9rem;
    color: #484848;
}

.section-watch .nav-pills .nav-item .nav-link.active {
    background-color: #f42267;
    color: #fff;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .35);
}

.btn-shadow {
    box-shadow: 0 .6rem 0 #ff5990;
    border-radius: .6rem;
    padding: .6rem 1.55rem;
    transition: all .5s;
}

.btn-shadow:hover {
    box-shadow: 0 0.3rem 0 #ff5990;
    color: #fff;
    background-color: #da1757;
}

/* =============================section-progress============================== */
.section-progress {
    background-color: #4b2d7f;
    color: #fff;
    font-size: 1rem;
    padding: 0;
}

.section-progress i {
    font-size: 4.4rem;
}

.section-progress .num {
    font-size: 3.1rem;
    font-weight: 600;
    margin: 30px 0 1.25rem;
}

.section-progress h4 {
    font-size: 1.9rem;
    height: 4.5rem;
    overflow: hidden;
}

.section-progress .progress-item {
    padding-top: 5rem;
    padding-bottom: 5rem;
    transition: all .5s;
}

.section-progress .progress-item:hover {
    background-color: #40286a;
}



/* ============================= Media ============================== */


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }

    .navbar-nav {
        background: linear-gradient(45deg, #ed1b33 0%, #442e82 100%);
        position: relative;
        z-index: 1;
        padding: 0 15px;
    }

    .main-header ul li a::after {
        display: none;
    }

    section {
        padding: 3.1rem 0;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main-header-text {
        left: 0;
        margin: 0 1.25rem;
        max-width: 100%;
    }

    h3,
    h4 {
        font-size: 1.9rem;
    }

    .section-progress .progress-item {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

@media only screen and (max-width : 600px) {
    .main-header-text {
        top: 5.6rem;
    }

    .main-header-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .main-header-buttons .btn:last-child {
        margin-top: 0;
    }

    .btn-shadow {
        box-shadow: 0 .3rem 0 #ff5990;
        padding: .6rem 1rem;
    }

    .btn-shadow:hover {
        box-shadow: 0 .1rem 0 #ff5990;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .section-watch .nav-pills .nav-link {
        padding: .5rem 1rem;
    }

    .section-watch .nav-pills .nav-item {
        width: 100%;
    }
}

@media only screen and (max-width : 380px) {
    .main-header .navbar-brand {
        font-size: 1.9rem;
    }
}